@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --brand-color: #14213D;
    --secondary-color: #FCA311;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    /* font-family: "DM Sans", sans-serif; */
    /* font-family: "Roboto", sans-serif; */
    /* font-family: "Montserrat", sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
button,
p,
figure,
ul {
    margin: 0;


}

button {
    border: none;
    outline: none;
}

button:focus {
    box-shadow: none !important;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.bg_secondary {
    background-color: var(--secondary-color) !important;
}

.bg_brand {
    background-color: var(--brand-color) !important;

}

.top-nav {
    height: 115px;
    background-color: #F1F1F1;
    padding: 0 48px;
    overflow: hidden;

}

.sm-navbar-nav {
    display: none !important;
}



.game {
    background-color: #fff;
    padding: 15px;
}

.games-slot .time {
    writing-mode: vertical-rl;
    font-size: 12px;
    z-index: 899;

    font-weight: 500;
    line-height: 14px;
    color: #000000;
    transform: rotate(180deg);
}

.game-header span {
    font-size: 9px;
    font-weight: 400;
}

.game-body ul {
    margin-top: 5px;
}

.game-body ul li {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

.game-body p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.game-body span {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
}

.owl-nav {
    display: block !important;
}

.owl-prev {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: -59px;
    background: #E5E5E5 !important;
    height: 100%;
    width: 50px;

}

.owl-next {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    right: -52px;
    background: #E5E5E5 !important;
    height: 100%;
    width: 50px;

}

.main-nav {
    height: 110px;
    background-color: var(--brand-color);
    /* padding: 0 48px; */
}

.main-nav .nav-item .nav-link {

    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-transform: capitalize;

}

.point-table-body table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 10px;
}

.point-table-body tr {
    padding: 8px;
    text-align: left;

}

.point-table-body tr td {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid #E0E0E0;
    border-right: none;
    border-left: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.active-tr {
    background: var(--secondary-color);

}

.point-table-body td:first-child {
    width: 15%;
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid #E0E0E0;

}

.point-table-body td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 1px solid #E0E0E0;
    ;

}

.hero-section {
    height: calc(100vh - 225px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-content-sm {
    display: none;
}

.hero-text-content {
    padding: 0 10px;
}

.hero-text-content h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 30px;
}

.hero-text-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}

.point-table-header {
    border-bottom: 1px solid #000000;
    padding: 10px 0;
    margin-bottom: 20px;
}

.point-table-header h2 {

    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.point-text {

    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.point {
    font-size: 72px;
    font-weight: 500;
    line-height: 87px;
    margin-bottom: 6px;

}

.team-name {
    font-size: 24px;
    font-weight: 500;

    line-height: 29px;
    margin-bottom: 6px;
}

.player-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.tablef-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: right;
}

.statistics-section {

    padding-top: 0;
    padding-bottom: 60px;
}

.statistics-section h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: var(--brand-color);
    margin-bottom: 10px;
}

.statistics-section .tabs {
    border-bottom: 1px solid #000000;
    padding: 10px 0 !important;
}

.statistics-section .tabs ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.statistics-section .tabs ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.statistics-section .tabs ul li.active {
    font-weight: 700;
}

.point-table-header .tabs {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 10px;
}

.point-table-header .tabs li {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.point-table-header .tabs li.active {
    font-weight: 700;
    border-bottom: 1px solid #000000;
}

.statistics-reports {
    padding-bottom: 50px;
}

.statistics-reports .point-table-wrapper {
    padding: 0 10px;
}

.statistics-reports .tabs {
    padding: 0;
}

.statistics-reports .point-table-header {
    padding-bottom: 0;
}

.statistics-reports .row .col-md-6 {
    padding-bottom: 90px;
}

.home-Sponsors {
    padding-bottom: 50px;
}

.home-Sponsors .row .col-md-6 {
    padding-bottom: 15px;
}

.home-Sponsors h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    color: var(--brand-color);
    margin-bottom: 40px;
}

.footer {
    padding: 30px 0;
    background-color: var(--brand-color);
}

.social-box {
    margin-bottom: 5px;
}

.social-box h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.copyRight {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: #FFFBFB;
    margin: 20px 0;
}

.links ul li a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #FFFBFB;

}

.emery-section {
    display: none;
}

.heading {
    border-bottom: 1px solid #000000;
    padding: 20px 0;
}

.heading h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.heading select {
    width: 35%;
    height: 48px;
    padding: 12px 12px 12px 16px;
    border-radius: 8px;
    border: 2px solid #CBD2E0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    outline: none;
    color: var(--brand-color);
}

.section {
    padding: 40px 0;
}

.table-heading {
    margin-bottom: 50px;
}

.table-heading h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.table-wrapepr table {
    width: 100%;
    border-spacing: 0 10px;
}

.table-wrapepr table th {
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 0;
}


.table-wrapepr table tr td {
    padding: 24px 10px !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px;
    color: #464F60;
    text-align: center;
}

.table-wrapepr {
    padding: 50px 0;
}

.standings-table tr td {
    padding: 24px 10px !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px;
    color: #464F60;
    text-align: center;
}

.standings-table tr th {
    padding: 24px 10px !important;

    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: var(--brand-color);
    text-align: center;
}

.table>:not(:first-child) {
    border-top: none;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
    margin-bottom: 20px;
}

.accordion-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.accordion-button {
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;

}

.player-stats-heading select {
    width: 15%;
}

.sub-hero h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: var(--brand-color);
}


.roster-hero-row h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 20px;
}

.roster-hero-row p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.roster-hero-row figure img {}

.roster-hero-row .hero-text-content-sm figure {
    display: flex;
    justify-content: center;
}

.roster-hero-row .hero-text-content-sm figure img {
    width: 100%;
}

.awards-hero-lg-img {
    width: 80%;
    border-radius: 40px;
}

.awards-text-content span {
    font-size: 31px;
    font-weight: 700;
    line-height: 44px;

}

.awards-text-content h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    color: var(--secondary-color);
    margin-bottom: 10px;

}

.awards-text-content h4 {
    font-size: 31px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 10px;
}

.awards-text-content p {
    font-size: 18px;
    line-height: 30px;
}

.awards-box {
    box-shadow: 0px 4px 4px 0px #E0E0E040;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    width: 90%;
    padding: 20px;
    transition: all .3s ease-in;
    cursor: pointer;
}

.awards-box:hover {
    box-shadow: 0px 0px 4px 0px #E0E0E0;

}

.awards-box figure img {
    width: 55%;
    display: block;
    margin: 0 auto;
}

.awards-box h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #1D1B20;
}

.awards-box span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #49454F;
}

.awards-box p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #49454F;
}

.all-awards-section .row .col-md-3 {
    margin-bottom: 50px;
}

.all-awards-section .row {
    border-bottom: 1px solid #000000
}

.awards-heading h2 {
    font-size: 31px;
    font-weight: 700;
    line-height: 44px;
}

.sponsors-img {
    width: 55%;
    margin: 0 auto;
}

.all-sponsors-section .row .col-md-12 {
    border-bottom: 1px solid #000000;

}

.single-sponsor {
    padding: 100px 0;
}

.all-sponsors-section .row .col-md-12:nth-child(1) {
    border-top: 1px solid #000000;

}

.single-sponsor-content {
    padding: 0 12px;
}

.single-sponsor h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 10px;

}

.single-sponsor p {
    font-size: 18px;
    line-height: 30px;

}

.single-sponsor figure {
    display: flex;
    justify-content: center;
}

.single-sponsor-content .btns {
    padding-top: 40px;
}

.single-sponsor-content .btns a {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 23px 36px 23px 36px;
    gap: 8px;
    border-radius: 30px;
}

.accordion-item table tr td {
    font-size: 14px;
}